
#logo img{

    margin-top: 10px;
    padding: 10px;
    border-radius: 100px;

}

#logopag{

    width: 10%;

}

.menu{

  
    padding: 20px;
    display: flex;
    gap: 10px;

}

.menu a{


    color: #f9f6ff;
    padding: 20px;
    text-align: center;
    flex: 1;
    font-size: 1.4rem;
    transition: all 0.2s ease;
    
}

.menu a:hover{

    border-radius: 10px;
    background: rgb(229, 188, 234);
    color: #52314a;
}



#logo{

    display: flex;
    justify-content: center;
    align-items: center;
    

}

#menu a{

    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}


header{

    background: rgba(35, 17, 35, 0.83);
    margin: auto;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);

}   

span{

    color: white;

}


body{

    margin: auto;
    background: linear-gradient(to left, #9a6bff, #d968e5, #b353df, #5e2777);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.producto-card img{

    width: 80%;
    height: 50%;
    border-radius: 35px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 4px #374d53;

}

#productosGrid{

display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 25px;
padding: 20px;

}

h3{

    display: flex;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    font-size: 2.0rem;

}



.producto-card{

    background: linear-gradient(#35064b, #81347fa9, #a356a1);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 8px 20px #111;
    transition: all 0.2s ease;


}

.producto-card:hover{

    transform: translateY(-8px);
    box-shadow: 0 12px 25px #1c162c;
    background: #edd8f1;
   

}       

.producto-card h1{

    font-size: 1.8rem;
    margin:10px 0;
    color: #000000;

}

.producto-card p{

    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(234, 209, 254);
    transition: all 0.3s ease;

}

.producto-card:hover p{

    color: #6f1372;

}

.producto-card button{

    background-color: #714876;
    color: antiquewhite;
    border: none;
    padding: 10px 18px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 5px 8px #111;

}


.producto-card button:hover{

    background-color: #562363;
    transform: scale(1.05);
    box-shadow: 0 5px 12px #111;


}



footer{


    background: rgba(35, 17, 35, 0.83);
    color: #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}


#sobrenosotros{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#contacto{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#redes{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

#redes img{

    width: 70px;
    border-radius: 50px;
        transition: all 0.3s ease;
}

#imagenes{

    display: flex;
    margin-top: 10px;
    background: #220d20;
    padding: 15px;
    border-radius: 50px;
    gap: 10px;

}

#imagenes img:hover{
    transform: translateY(-20px) scale(1.2);
}


#sobrenosotros h3, #contacto h3, #redes h3{

    font-weight: bold;
    font-size: 1.5rem;
    
}

#sobrenosotros p, #contacto p, #redes p{

    text-align: center;
    font-size: 1.2rem;
    
}